In [27]:
import requests
import datetime
import numpy as np

import apimoex
import pandas as pd

from app.db_setup import engine

In [6]:
%%time
with requests.Session() as session:
    # data = apimoex.get_market_candles(session, 'SBER', interval = 60, start='2021-01-01')
    data = apimoex.find_security_description(session, 'SBER')
    df = pd.DataFrame(data)

CPU times: user 10.5 ms, sys: 6.01 ms, total: 16.6 ms
Wall time: 71.3 ms

In [22]:
approved_data = df['name'] in 'SECID' &
# df.loc[]
df

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [28]:
def filter_data(df):
    for item in list('''qwertyuiop[]asdfghjkl;zxcvbnm,./!@#$%^&*)(|><QWERTYUIOPASDFGHJKLZXCVBNMЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮйцукенгшщзхъфывапролджэячсмитьбюёЁ'''):
        df = df.loc[df['date'].str.find(item) == -1]

    df = df.loc[df['date'] != '']
    df = df.loc[df['date'] != 'null']

    check_zero_open = df['open'] != 0
    check_zero_close = df['close'] != 0
    check_zero_high = df['high'] != 0
    check_zero_low = df['low'] != 0
    check_zero_value = df['value'] != 0

    check_zero = check_zero_open & check_zero_close & check_zero_high & check_zero_low & check_zero_value
    df = df.loc[check_zero]

    check_null_open = df['open'] != 'null'
    check_null_close = df['close'] != 'null'
    check_null_high = df['high'] != 'null'
    check_null_low = df['low'] != 'null'
    check_null_value = df['value'] != 'null'

    check_null = check_null_open & check_null_close & check_null_high & check_null_low & check_null_value
    df = df.loc[check_null]
    return df

In [4]:
df = df.rename(columns={"begin": "date"})
df = filter_data(df)
df['date'] = pd.to_datetime(df['date'])

,name,title,value
0,SECID,Код ценной бумаги,SBER
1,NAME,Полное наименование,Сбербанк России ПАО ао
2,SHORTNAME,Краткое наименование,Сбербанк
3,ISIN,ISIN код,RU0009029540
4,REGNUMBER,Номер государственной регистрации,10301481B
5,ISSUESIZE,Объем выпуска,21586948000
6,FACEVALUE,Номинальная стоимость,3
7,FACEUNIT,Валюта номинала,SUR
8,ISSUEDATE,Дата начала торгов,2007-07-20
9,LATNAME,Английское наименование,Sberbank
10,LISTLEVEL,Уровень листинга,1
11,ISQUALIFIEDINVESTORS,Бумаги для квалифицированных инвесторов,0
12,MORNINGSESSION,Допуск к утренней дополнительной торговой сессии,1
13,EVENINGSESSION,Допуск к вечерней дополнительной торговой сессии,1
14,TYPENAME,Вид/категория ценной бумаги,Акция обыкновенная
15,GROUP,Код типа инструмента,stock_shares
16,TYPE,Тип бумаги,common_share
17,GROUPNAME,Типа инструмента,Акции
18,EMITTER_ID,Код эмитента,1199

In [52]:
%%time
df['profitability'] = (df['close'] - df['open']) / (df['open'] * 100)

CPU times: user 1.65 ms, sys: 1.28 ms, total: 2.93 ms
Wall time: 2.14 ms

In [296]:
for tiker in ['SBER']:
    with requests.Session() as session:
        # data = apimoex.get_market_candles(session, tiker, interval = 60, start='2021-01-01')
        data = apimoex.find_security_description(session, 'SBER')
        df = pd.DataFrame(data)

        # df = df.rename(columns={"begin": "date"})
        # df = filter_data(df)
        # df['date'] = pd.to_datetime(df['date'])
        # df['profitability'] = ((df['close'] - df['open']) / df['open']) * 100

In [297]:
df

,name,title,value
0,SECID,Код ценной бумаги,SBER
1,NAME,Полное наименование,Сбербанк России ПАО ао
2,SHORTNAME,Краткое наименование,Сбербанк
3,ISIN,ISIN код,RU0009029540
4,REGNUMBER,Номер государственной регистрации,10301481B
5,ISSUESIZE,Объем выпуска,21586948000
6,FACEVALUE,Номинальная стоимость,3
7,FACEUNIT,Валюта номинала,SUR
8,ISSUEDATE,Дата начала торгов,2007-07-20
9,LATNAME,Английское наименование,Sberbank
10,LISTLEVEL,Уровень листинга,1
11,ISQUALIFIEDINVESTORS,Бумаги для квалифицированных инвесторов,0
12,MORNINGSESSION,Допуск к утренней дополнительной торговой сессии,1
13,EVENINGSESSION,Допуск к вечерней дополнительной торговой сессии,1
14,TYPENAME,Вид/категория ценной бумаги,Акция обыкновенная
15,GROUP,Код типа инструмента,stock_shares
16,TYPE,Тип бумаги,common_share
17,GROUPNAME,Типа инструмента,Акции
18,EMITTER_ID,Код эмитента,1199

In [298]:
df = df[(df['name'] == 'SECID') | (df['name'] == 'NAME') | (df['name'] == 'SHORTNAME') | (df['name'] == 'ISIN') | 
    (df['name'] == 'REGNUMBER') | (df['name'] == 'ISSUESIZE')  | (df['name'] == 'ISSUEDATE')]

In [299]:
df

        name                              title                   value
0      SECID                  Код ценной бумаги                    SBER
1       NAME                Полное наименование  Сбербанк России ПАО ао
2  SHORTNAME               Краткое наименование                Сбербанк
3       ISIN                           ISIN код            RU0009029540
4  REGNUMBER  Номер государственной регистрации               10301481B
5  ISSUESIZE                      Объем выпуска             21586948000
8  ISSUEDATE                 Дата начала торгов              2007-07-20

In [300]:
df = df[['name', 'value']]
df.set_index('name',inplace=True)
df = df.T
df = df.reset_index(drop=True)

In [301]:
df.rename
df = df.rename(columns={"SECID": "s"})

name,SECID,NAME,SHORTNAME,ISIN,REGNUMBER,ISSUESIZE,ISSUEDATE
0,SBER,Сбербанк России ПАО ао,Сбербанк,RU0009029540,10301481B,21586948000,2007-07-20

In [ ]:

DB.add(Tiker(id_tiker=(df['name'] == 'SECID')), full_name='', short_name='', isin_key='', state_reg_num='', output_val='', trading_start=''))
df.to_sql('table_name', engine, if_exists='replace',index=False)
DB.add(Tiker_history_day(id_tiker='', tk_date='', tk_open='', tk_close='', tk_high='', tk_low='', tk_value='', tk_profitability=''))

In [11]:
df = df.reindex(index=df.index[::-1])

In [160]:

down_limit = df['date'] >= np.datetime64(datetime.date(2023, 1, 1))
up_limit = df['date'] <= np.datetime64(datetime.date(2023, 2, 1))
limit = down_limit & up_limit
dd = df.loc[limit]

dd

,date,open,close,high,low,value,profitability
6892,2023-01-03 09:00:00,141.60,141.60,141.60,141.60,1.011590e+07,0.000000
6893,2023-01-03 10:00:00,141.60,142.66,143.25,141.56,9.314971e+08,0.748588
6894,2023-01-03 11:00:00,142.66,142.42,142.90,142.35,4.260835e+08,-0.168232
6895,2023-01-03 12:00:00,142.43,141.91,142.43,141.90,3.391135e+08,-0.365092
6896,2023-01-03 13:00:00,141.91,141.67,142.07,141.64,2.752673e+08,-0.169121
...,...,...,...,...,...,...,...
7202,2023-01-31 19:00:00,156.90,157.66,158.18,156.81,1.285875e+09,0.484385
7203,2023-01-31 20:00:00,157.68,157.33,157.70,157.15,2.985295e+08,-0.221969
7204,2023-01-31 21:00:00,157.33,157.84,157.84,157.24,1.678131e+08,0.324159
7205,2023-01-31 22:00:00,157.84,157.90,158.00,157.35,2.742519e+08,0.038013
7206,2023-01-31 23:00:00,157.90,158.07,158.16,157.81,3.629293e+08,0.107663

In [96]:
print(len(dd))
dd['profitability'].sum(axis=0) / len(dd)

1743

0.005377302041593943